
<%- include("partials/header") -%>
<h1>Contact</h1>
<p><%=para3%></p>
<div class="ccontainer">
    <div class="cbox">
         
        <p ><i class="fa-solid fa-envelope"style="margin-right:20px" id="i1"></i>shrivarshapoojary8095@gmail.com</p>
        
           <div class="socialicons">
 
               <a href="https://www.instagram.com/shrivarshapoojary/"><i class="fa-brands fa-instagram" style="margin-right:20px" id="i2"></i>Follow Me on Instagram</a> <br>
               <a href="https://www.linkedin.com/in/shrivarsha-poojary-960691249/"><i class="fa-brands fa-linkedin"  style="margin-right:20px" id="i3" ></i> Connect With Me on Linked in</a>
    </div>
</div>

<%- include("partials/footer") -%>